$primaryColor: #242424;
$secondaryColor: rgba(255, 255, 255, 0.87);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 25px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $primaryColor;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

.artistImage {
  max-height: 16rem;
  padding: 1rem;
}

.artistName {
  font-size: 1rem;
}

.indexBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .indexBox {
    background-color: $secondaryColor;
    color: $primaryColor;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin: 4px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

